<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500 Internal Server Error</title>
    <link rel="stylesheet" href="/assets/err.css"> <!-- Updated link to CSS file -->
</head>
<body>
    <div class="container">
        <h1 class="error-title">400</h1>
        <p class="error-message">Invalid form submission, please check your input.</p>
        <a href="/" class="home-button">Go back to Homepage</a>
        
    </div>
</body>
</html>
